.section-kategori{
    margin-top: 20px;
}
.kategori-card a {
    background-color: #C1D3FF;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
  }
 .kategori-card a:hover {
    background-color: rgba(255, 255, 255, 0.5);
 }
 .search-bar {
  display: flex;
 }

 .search-bar input[type=text] {
    margin: 20px auto 0px auto;
    padding: 6px 10px;
    border: none;
    font-size: 20px;
    border-radius: 32px;
  }
  